<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
</ol>

<div class="jumbotron">
<h1>Welcome to Countrypedia!</h1>
</div>

<p>Please choose among the following languages to discover the available countries:</p>
<ul>
  <% @languages.each do |language| %>
  <li>
    <%= link_to language.name, language %>
  </li>
  <% end %>
</ul>

