<ol class="breadcrumb">
  <li><a href="<%= languages_path %>">Home</a></li>
  <li><a href="<%= language_path(@language) %>"><%= @language.name %></a></li>
</ol>

<div class="panel panel-default">
  <div class="panel-heading">Please choose among the following countries</div>
  <ul class="list-group">
    <% @language.countries.each do |country| %>
    <li class="list-group-item">
      <%= link_to country.name, [@language, country] %>
    </li>
    <% end %>
  </ul>
</div>
