<footer class="footer">
  <ul class="text-muted text-center list-inline">
    <li><%= link_to "info@countrypedia.xyz", "mailto:info@countrypedia.xyz" %></li>
    <li><%= link_to "en.countrypedia.xyz", "http://en.countrypedia.xyz" %></li>
    <li><%= link_to "fr.countrypedia.xyz", "http://fr.countrypedia.xyz" %></li>
  </ul>
</footer>
