<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">
      <%= content_tag(:a, t('countries.show.cities'), :name => 'cities') %>
    </h2>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>
	<%= t('countries.show.capital') %>
      </dt>
      <dd>
	<%= info['capital'] %>
      </dd>
    </dl>
  </div>
</div>
