<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t('countries.show.cities') %></h3>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>
	<%= t('countries.show.capital') %>
      </dt>
      <dd>
	<%= info['capital'] %>
      </dd>
    </dl>
  </div>
</div>
