 <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Hour</h3>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>Timezones</dt><dd><%= info['timezones'].join(", ") %></dd>
    </dl>
  </div>
</div>
