 <div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">
      <%= content_tag(:a, t('countries.show.hour'), :name => 'hour') %>
    </h2>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>
	<%= t('countries.show.timezones') %>
      </dt>
      <dd>
	<ul class="list-unstyled">
	  <% Array(info['timezones']).each do |timezone| %>
	  <li><%= timezone %></li>
	  <% end %>
	</ul>
      </dd>
    </dl>
  </div>
</div>
