 <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t('countries.show.hour') %></h3>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>
	<%= t('countries.show.timezones') %>
      </dt>
      <dd>
	<ul class="list-unstyled">
	  <% info['timezones'].each do |timezone| %>
	  <li><%= timezone %></li>
	  <% end %>
	</ul>
      </dd>
    </dl>
  </div>
</div>
