<div class="col-md-8">
  <a href="#" class="thumbnail">
    <img class="img-responsive" src="<%= @country.googlemaps_url(maptype: 'hybrid', size: '1000x1000')  %>"/>
  </a>
</div>
<% 
   Array(@country.googleimagessearch).each do |result| 
%>
<div class="col-md-4">
<a href="#" class="thumbnail">
  <img class="img-responsive" src="<%= result['unescapedUrl'] %>">
</a>
</div>
<%
   end
%>
