<% 
   json = @country.googleimagessearch 
   json.each do |result| 
%>
<div class="col-md-3">
<a href="#" class="thumbnail">
  <img class="img-responsive" src="<%= result['url'] %>">
</a>
</div>
<%
   end
%>
