<div class="panel panel-default">
  <div class="panel-heading"><%= t('countries.index.random_title') %></div>
  <div style="padding: 20px">
    <%= link_to t('countries.index.random_text'), countries_random_path %>
  </div>
</div>
