<% section = "countries.show.wikipedia_#{ key }" %>
<% paragraphs = key == 'summary' ? @country.wikipedia_summary(doc) : @country.wikipedia_block(doc, t(section)) %>
<% if !paragraphs.empty? %>
  <h3><%= t(section) %></h3>
  <% paragraphs.each do |paragraph| %>
    <p>
      <%= raw(paragraph) %>
    </p>
  <% end %>
  <p>
    <%= t('countries.show.wikipedia_link') %> <%= link_to 'Wikipedia', @country.wikipedia_url %>.
  </p>
<% end %>
