<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><a href="<%= country.wikipedia_url %>">Wikipedia</a></h3>
  </div>
  <div class="panel-body">
    <%= raw(country.wikipedia_info(500)) %>
  </div>
</div>

