<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">
      <%= content_tag(:a, t('cities.show.facts'), :name => 'facts') %>
    </h2>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
    </dl>
  </div>
</div>

