<% links = @city.google_images_search(3)  %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">
      <%= content_tag(:a, t('cities.show.pictures'), :name => 'pictures') %>
    </h2>
  </div>
  <div class="panel-body">
    <div class="row">
      <% (0..2).each do |i| %>
      <div class="col-md-4">
	<a href="<%=links[i] %>">
	  <img 
	     class="img-responsive"
	     alt="<%= t(@city.name) %>"
	     src="<%= links[i] %>"/>
	</a>
      </div>
      <% end %>
    </div>
  </div>
</div>


