<div class="panel panel-default">
  <div class="panel-heading">
    <h2>
      <%= t('cities.index.random_title') %>
    </h2>
  </div>
  <div style="padding: 20px">
    <%= link_to t('cities.index.random_text'), cities_random_path %>
  </div>
</div>
