<% doc = nil %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">
      <%= content_tag(:a, 'Wikipedia', :name => 'wikipedia') %>
    </h2>	    
  </div>
  <div class="panel-body">
    <%= render partial: "wikipedia_section", locals: {doc: doc, key: 'summary' } %>
  </div>
</div>


